@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root{
    --season-color:#FF9AAE;
}

*,
html{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}
p{
    display: inline;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--season-color) ;
    background: -webkit-linear-gradient(60deg, var(--season-color) 0%, #F2FFFF 100%) no-repeat;
    background: -o-linear-gradient(60deg, var(--season-color) 0%, #F2FFFF 100%) no-repeat;
    background: linear-gradient(150deg, var(--season-color) 0%, #F2FFFF 100%) no-repeat;

}
#bg-stripe{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        -45deg,
        rgba(255,255,255,0.4) 0%,
        rgba(0,0,0,0) 0,
        rgba(0,0,0,0) 5%,
        rgba(255,255,255,0.4) 0,
        rgba(255,255,255,0.4) 10%,
        rgba(0,0,0,0) 0,
        rgba(0,0,0,0) 55%,
        rgba(255,255,255,0.4) 0,
        rgba(255,255,255,0.4) 60%,
        rgba(0,0,0,0) 0
    );
    background-size: 10px 10px;
}
#header{
    position: relative;
    display: flex;
    height: 400px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
#header #season-switch{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(-135deg, var(--season-color) 0%, #F2FFFF 100%);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
#header #season-switch .season-btn{
    z-index: 1;
    width:38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: 0;
}
#header #season-switch .season-btn img{
    width: 30px;
    margin-top: 2px;
    margin-left: -1.5px;
}
#header #season-switch .season-btn:hover{
    box-shadow: 0 0 5px #fff;
}
#header #season-switch .season-btn:active{
    background-color: rgba(50,50,50,0.05);
    box-shadow: 0 0 5px #fff;
}
#header #season-switch .season-btn-show{
    float: left;
    position: absolute;
    left:0;
    width:38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(0.7, 0.01, 0.22, 1.01);
}
#header #logo{
    width: 500px;
    height: 300px;
    margin: auto;
}
#header #logo img{
    width: 500px;
/*
    border-radius: 50%;
    box-shadow: 
        0 0 1px 1px rgba(255,255,255,0.5),
        0 0 0px 1px rgba(255,255,255,0.6),
        inset 0 0 20px 5px rgba(255,255,255,0.5);
*/
}
#contents{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}
#contents #order-list{
    margin-bottom: 15px;
}
#contents #order-list .order-btn{
    width: 65px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-size: 16px;
    line-height: 35px;
    outline: 0;
}
#contents #order-list .order-btn:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),
        0 0 7px #fff;
}
#contents #order-list .order-btn:active{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px #fff;
}

#contents #character-list .character-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 150px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    margin: 5px 0 5px 0;
    color: #444;
}
#contents #character-list .character-img{
    width: 150px;
    height: 150px;
    margin-left: 3%;
    margin-right: 3%;
}
#contents #character-list .character-img img{
    width: 150px;
    height: 150px;
}
#contents #character-list .character-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100px;
}

#contents #character-list .character-profile .cha-name{
    font-size: 30px;
    color: var(--season-color);
    text-shadow: 0 0 2px #fff,
        0 0 2px #fff,
        0 0 2px #fff,
        0 0 3px var(--season-color),
        0 0 3px var(--season-color);
}
#contents #character-list .character-profile .cha-sex{
    margin: 0 10px 0 10px;
}
#contents #character-list .character-profile .cha-age{
    margin: 0 10px 0 10px;
}
#contents #character-list .character-profile .cha-perso{
    margin: 0px;
}
#contents #character-list .character-profile .cha-color{
    margin: 0;
}
#contents #character-list .character-profile .cha-color span{
    text-shadow:
        0 0 3px rgba(0,0,0,0.4),
        0 0 1px rgba(0,0,0,0.6),
        0 0 2px rgba(255,255,255,1);
}
#contents #character-list .character-country{
    margin-right: 3%;
    margin-top: -80px;
    width: 70px;
    line-height: 35px;
    text-align: center;
    background-color: var(--season-color);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 3px 1px rgba(0,0,0,0.1);
}
#contents #character-list .character-country p{
    font-size: 20px;
}
#contents #top{}

/*snowflake*/
.snow{
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    animation-name: snowflakes;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all cubic-bezier(0.46, 0.48, 0.46, 0.49);
    box-shadow: 0 0 4px #fff;
}
@keyframes snowflakes{
    0%{
        top: -50px;
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}


@media screen and (max-width: 750px){
    #header{
        height: 350px;
    }
    #header #logo{
        width: 360px;
        height: 250px;
    }
    #header #logo img{
        width: 360px;
    }
    #header #season-switch{
        width: 150px;
        height: 25px;
    }
    #header #season-switch .season-btn{
        width: 25px;
        height: 25px;
    }
    #header #season-switch .season-btn img{
        width: 20px;
        margin-top: 1px;
        margin-left: -3px;
    }
    #header #season-switch .season-btn-show{
        width:25px;
        height: 25px;
    }
    #contents #order-list{
        display: flex;
        margin-bottom: 15px;
    }
    #contents #order-list .order-btn{
        width: 25%;
        height: 35px;
        margin: 0 5px;
        font-size: 18px;
    }
    #contents #character-list .character-card{
        height: 260px;
        flex-direction: column;
    }
    #contents #character-list .character-img{
        width: 170px;
        height: 170px;
    }
    #contents #character-list .character-img img{
        width: 170px;
        height: 170px;
    }
    #contents #character-list .character-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    #contents #character-list .character-profile .profile-up{
        margin-top: -15px;
    }
    #contents #character-list .character-profile .cha-perso{
        margin: 0px;
        font-size: 16px;
    }
    #contents #character-list .character-profile .cha-color{
        font-size: 16px;
    }
    #contents #character-list .character-profile .cha-color span{
        font-size: 16px;
    }
    #contents #character-list .character-country{
        position: absolute;
        right: 0;
        top: 100px;
        width: 50px;
    }
    #contents #character-list .character-country p{
        font-size: 18px;
    }
}
@media screen and (max-width: 470px){
    #header{
        height: 300px;
    }
    #header #logo{
        width: 300px;
        height: 200px;
    }
    #header #logo img{
        width: 300px;
    }
    #contents #character-list .character-profile .cha-name{
    font-size: 24px;
    }
    #contents #character-list .character-profile .cha-sex{
        font-size: 16px;
    }
    #contents #character-list .character-profile .cha-age{
        font-size: 16px;
    }
    #contents #character-list .character-profile .cha-perso{
        font-size: 15px;
    }
    #contents #character-list .character-profile .cha-color{
        font-size: 15px;
    }
    #contents #character-list .character-profile .cha-color span{
        font-size: 15px;
    }
}
@media screen and (max-width: 390px){
     #header{
        height: 250px;
    }
    #header #logo{
        width: 250px;
        height: 160px;
    }
    #header #logo img{
        width: 250px;
    }
}



